<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>


<%# <form action= "/users" method = "post" accept-charset = "UTF-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token % >">
<label for ="username">Username: </label>
<input type = "text" id ="username" name = "user[username]" placeholder = "Username">
<label for = "email">Email:</label>
<input type = "email" id = "email" name = "user[email]" placeholder = "Email">
<label for = "password"> Password: </label>
<input type = "password" name = "user[password]" id = "password" placeholder = "Password">
<input type = "submit" name = "commit" value = "Submit">
</form> %>

<%# <%= form_tag('/users') do % >
<%= label_tag :username, 'Username' % >
<%= text_field_tag :username, placeholder: 'Username' % >
<%= label_tag :email, 'Email' % > 
<%= text_field_tag :email, placeholder: 'Email'% >
<%= label_tag :password, 'Password' % >
<%= password_field_tag :password, placeholder: 'Password' % >
<%= submit_tag 'Save User' % >
<% end % > %>

  <%= form_with model: @user do |form| %>
  <%= form.label :username, "Your username here" %>
  <%= form.text_field :username, placeholder: "Enter your username here! "  %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email, placeholder: "example@example.com" %>
  <%= form.label :password, "Password:" %>
  <%= form.text_field :password, placeholder: "Password"  %>
  <%= form.submit "Save User" %>
<% end %>
